.showcase1 {
    width: 100%;
    height: auto;
    position: relative;
    color: white;
    text-align: center;
}
.showcase1 .overlay1 {
    background: linear-gradient(to bottom, #e2e6ef 0%,#ffffff 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.product2{
    color: #212529 !important;
    text-align: left !important;
}

.hide-container-bg::before{
    width: 0px !important;
}

.more-btn {
    padding: 11px 8px;
    background-color: #ffffff;
    border-radius: 50px;
    color: #000;
    border: none;
    text-align: center;
    width: 130px;
    margin: 16px 0px 0px 0px;
    transition: 1s !important;
    font-size: 14px;
}
.more-btn1{
    padding: 11px 8px;
    background-color: #101d42;
    border-radius: 50px;
    color: #fff;
    border: none;
    text-align: center;
    width: 130px;
    margin: 16px 0px 0px 0px;
    transition: 1s !important;
    font-size: 14px;  
}
.more-btn1:hover{
  color: #fff;
}
.entry {
    margin: 100px 10px;
    position: relative;
}

.indicator {
    position: absolute;
    top: -20px;
    z-index: 2;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-color: rgb(255 255 255);
    border-radius: 50%;
    border: solid 2px #7165cc;
}

.indicator span {
    position: relative;
    top: 25px;
    width: 20px;
    height: 22px;
    display: inline-block;
}
.indicator span i{
    color: #131f44;
    font-size: 25px;
}

.content1 {
    width: 390px;
    margin: 0 auto;
    transform: translate(65%, 60px);
    font-size: 14px;
    text-align: left;
    color: #8b8b8b;
}

.entry:nth-child(odd) .content {
    text-align: right;
    transform: translate(-65%, 60px);
}

.content1 span {
    font-weight: 400;
    font-size: 14px;
    display: block;
    text-align: center;
}
.split-1 span{
    display: block;
}
.split-2 span{
    display: block;
}
.split-11 span{
    display: block;
}
.timeline-split1 {
    width: 508px !important;
    margin-left: 0px !important;
    margin-top: -243px !important;
}
.time {
    position: absolute;
    top: 18px;
    left: 56%;
    transform: translate(-120%, -48%);
    font-size: 14px;
    padding: 5px 25px 5px 25px;
    border-radius: 25px;
    background-color: #7165cc;
    color: white;
    display: inline-block;
    z-index: 1;
    width: 300px;
    text-align: left;
}
.entry:nth-child(even) .time {
    transform: translate(-30%, -48%);
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 0;
    }

    .entry:nth-child(even) .content, .entry:nth-child(odd) .content {
        text-align: left;
        transform: translate(60%, -9px);
    }

    .entry:nth-child(even) .time, .entry:nth-child(odd) .time {
        transform: translate(-130%, -48%);
    }
}
.custom-card span, .about-text, .about-sub-text{
    color: #fff !important;
    text-align: left !important;
}
.about-text{
    font-weight: 400 !important;
    font-size: 25px !important;
}
.about-sub-text{
    font-size: 20px !important;
    font-weight: 400 !important;
}
.custom-entry1 {
    margin: -140px 10px !important;
}
.split-11 {
    width: 100%;
}
.timeline-count1{
    color: #101d42 !important;
    text-align: center;
    padding: 0px 5px;
    font-size: 35px !important;
    font-weight: 500 !important;
}
.timeline-text1{
    color: #101d42 !important;
    text-align: center;
    padding: 0px 5px;
}
.bg-icon{
    background-color: #101d42;
}
.bg-card{
    background-color: #fff;
    color: #212529;
    text-align: left;
}
.stretched-link{
    display: none;
}
.text-product2{
    color: #638cbe !important;
}


.timeline-container {
  box-sizing: content-box;
  padding: 0 12px;
  max-width: 640px;
  margin: 48px auto;
}

.step-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.step-list__item {
  counter-increment: step-counter;
  position: relative;
}
.step-list__item:before {
  content: counter(step-counter);
  font-weight: 300;
  color: #d8d8d8;
  display: none;
}
.step-list__item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #6c757d;
}
.step-list__item p {
  color: #6c757d;

}
.step-list__item .icon {
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
}
.step-list__item .icon img {
  width: 100%;
  height: 100%;
}
.step-list__item .body {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}
.step-list__item .content {
  display: flex;
  flex-direction: row;
  padding-bottom: 18px;
}
.step-list__item:first-child .icon {
  background: #e5e8f1;
}
.step-list__item:nth-child(2) .icon {
  background: #e5e8f1;
}
.step-list__item:nth-child(3) .icon {
  background: #e5e8f1;
}
.step-list__item:nth-child(4) .icon {
  background: #e5e8f1;
}
.step-list__item:nth-child(5) .icon {
  background: #e5e8f1;
}
.step-list__item:nth-child(6) .icon {
    background: #e5e8f1;
}
.step-list__item:nth-child(7) .icon {
    background: #e5e8f1;
}
.step-list__item:nth-child(odd) .content {
  justify-content: flex-start;
}
.step-list__item:nth-child(even) .content {
  justify-content: flex-end;
}
.step-list__item:first-child > .step-list__item__inner:before {
  content: none;
}
.step-list__item:last-child > .step-list__item__inner:after {
  content: none;
}
.step-list__item + li {
  margin-top: 84px;
}
.step-list__item + li > div {
  margin-top: -1px;
}
.text-align h2, .text-align p{
    text-align: left !important;
}
@media screen and (max-width: 600px) {
  .step-list__item {
    display: flex;
  }
  .step-list__item:before {
    content: counter(step-counter);
    position: relative;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    color: #000000;
    margin-right: 12px;
  }
  .step-list__item .icon {
    order: 0;
    width: 36px;
    height: 36px;
    padding: 9px;
    position: absolute;
    left: -9px;
    top: 42px;
  }
  .step-list__item .body {
    order: 1;
    margin-top: 8px;
    margin-left: 12px;
  }
  .step-list__item .content {
    align-items: flex-start;
  }
  .step-list__item .content:before {
    content: "";
    position: absolute;
    border-left: #d8d8d8;
    height: 100%;
    left: 9px;
    bottom: 0;
    display: block;
    width: 1px;
    background: #d8d8d8;
    top: 84px;
  }
  .step-list__item:last-child .content:before {
    content: none;
  }
}
@media screen and (min-width: 601px) {
  .step-list__item:before {
    content: counter(step-counter);
    position: absolute;
    font-size: 90px;
    line-height: 1;
    font-weight: 300;
    color: #d8d8d8;
  }
  .step-list__item .icon {
    width: 174px;
    height: 174px;
    padding: 40px;
  }
  .step-list__item .body {
    flex: 0 1 33.3333%;
    margin-top: 0px;
  }
  .step-list__item .content {
    align-items: center;
  }
  .step-list__item > .step-list__item__inner {
    position: relative;
  }
  .step-list__item > .step-list__item__inner:before, .step-list__item > .step-list__item__inner:after {
    border-width: 0px;
    border-style: solid;
    border-color: #d8d8d8;
    display: block;
    content: "";
    position: absolute;
    height: 42px;
    width: calc(33.3333% - 42px);
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner {
    text-align: right;
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner:before, .step-list__item:nth-child(odd) > .step-list__item__inner:after {
    border-left-width: 1px;
    left: calc(33.3333% - 21px);
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner:before {
    border-top-width: 1px;
    border-top-left-radius: 42px;
    margin-top: -42px;
  }
  .step-list__item:nth-child(odd) > .step-list__item__inner:after {
    border-bottom-width: 1px;
    border-bottom-left-radius: 42px;
    margin-bottom: -42px;
  }
  .step-list__item:nth-child(odd):before {
    left: 0;
    margin-left: 33.3333%;
    transform: translateX(-100%);
  }
  .step-list__item:nth-child(odd) .icon {
    margin-left: 72px;
  }
  .step-list__item:nth-child(even) > .step-list__item__inner:before, .step-list__item:nth-child(even) > .step-list__item__inner:after {
    border-right-width: 1px;
    right: calc(33.3333% - 21px);
  }
  .step-list__item:nth-child(even) > .step-list__item__inner:before {
    border-top-width: 1px;
    border-top-right-radius: 42px;
    margin-top: -42px;
  }
  .step-list__item:nth-child(even) > .step-list__item__inner:after {
    border-bottom-width: 1px;
    border-bottom-right-radius: 42px;
    margin-bottom: -42px;
  }
  .step-list__item:nth-child(even):before {
    right: 0;
    margin-right: 33.3333%;
    transform: translateX(100%);
  }
  .step-list__item:nth-child(even) .icon {
    margin-right: 72px;
  }
  .step-list__item:nth-child(even) .body {
    order: 1;
  }
}

